<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <head>
 <meta charset="utf-8">
 <title>hapinessPostEdit</title>
 <link rel="stylesheet" href="">
 <!-- IE8以下でもHTML5のページを表示することが可能 -->
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
 <![endif]-->
 <!--相対パスでJSファイルを読み込む  -->
 <script src=""></script>
 </head>

 <body>
  <h1>投稿編集</h1>

  <form th:Object="${hapinessPostEntity}" th:action="@{'/post/' + ${hapinessPostFindOneEntity.userId} + '/' + ${hapinessPostFindOneEntity.createDateTime}}" th:method="post">
			    <label for="body">タイトル</label><br>
<td><span><textarea th:field="${hapinessPostFindOneEntity.body}" cols='40' rows='10' class=""></textarea ></span></td>
      <button type='submit'>保存する</button>
		 </form>
<a th:href="@{/post}">一覧に戻る</a>
 </body>
</html>