<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>hapinessHome</title>
<link rel="stylesheet" href="">
<!-- IE8以下でもHTML5のページを表示することが可能 -->
<!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
 <![endif]-->
<!--相対パスでJSファイルを読み込む  -->
<script src=""></script>
</head>
 <body>
  <h1>HOME</h1>
   <p>HelloWorld</p>
   <p>一旦「"http://localhost:8080/"」の出力先にしておきます。ログイン機能作成後、変更かける</p>
 </body>
</html>